@import url(http://fonts.googleapis.com/css?family=Fredoka+One|Open+Sans:400italic,700italic,400,700);

.navbar-dark {
  background-color: $black !important;
}

/* portfolio */
$margin: 2%;
$width: 50%;

.grid-sizer,
.item {
  width: $width;

  @include media-breakpoint-up(md) {
    width: 33.3%;
  }

  @include media-breakpoint-up(xl) {
    width: 25%;
  }
}

.item {
  float: left;

  @include transition(border 0.2s ease-in-out);

  :hover img {
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.5) inset;
  }
}

.item.active img {
  border-radius: $border-radius-lg;
  border: 3px solid $gray-200;

  @include transition(border 0.2s ease-in-out);
}

.gutter-sizer {
  width: $margin;
}

.tooltip {
  font-size: $font-size-base; //h5
}

// #loading {
//
// }

// /////////

#contacto {
  position: relative;

  #barras {
    background-color: blue;
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .color {
    width: 16.66%;
    height: 100%;
    float: left;
  }

  #yel { background-color: yellow; }

  #cya { background-color: cyan; }

  #gre { background-color: green; }

  #pin { background-color: pink; }

  #red { background-color: red; }

  #blu { background-color: blue; }
}

$navbar-alto: 76px;

.navbar-brand {
  font-size: 200%;
  height: $navbar-alto;
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-header::after {
  display: inline;
  //borra el borde inferior
}

#iso {
  @include media-breakpoint-up(sm) {
    margin-left: -0.5em;
  }

  height: 76px;
  float: left;
}

#luznegralogo {
  color: $gray-200;
  font-size: 110%;
  margin-top: 0.4em;
  margin-bottom: 0;
  float: left;
}

#descripcion {
  color: $brand-claro;
  margin-top: -0.1em;
  margin-bottom: 0;
  font-size: 66%;
}

/* menu */
#menu-menu {
  @include media-breakpoint-up(sm) {
    margin: 0;
    clear: both;
    display: flex;

    /* or inline-flex */
    li {
      flex-grow: 1;
      text-align: center;
    }
  }
}

/* filtros y menu */
.menu-item {
  font-family: $font-family-headings;
  text-transform: uppercase;

  @include media-breakpoint-down(sm) {
    font-size: 0.7em;
  }
}

// .filters .active::before {
//   content: "x";
//   position: absolute;
//   left: $mark-padding;
// }

.filters button {
  // font-family: $font-family-headings;
  text-transform: uppercase;

  @include media-breakpoint-down(sm) {
    font-size: 0.9rem;
  }
}

/* portfolio */
$margin: 2%;
$width: 50%;

#pack {
  margin: $line-height-base -2%;

  @include media-breakpoint-up(sm) {
    margin: $line-height-base -1%;
  }
}

/* Arrows */
// Default Variables
// $slick-font-path: "./fonts/" !default;
// $slick-font-family: "slick" !default;
// $slick-loader-path: "./" !default;
$slick-arrow-color: $brand-primary !default;
$slick-dot-color: $brand-primary !default;
// $slick-dot-color-active: $slick-dot-color !default;
// $slick-prev-character: "←" !default;
// $slick-next-character: "→" !default;
// $slick-dot-character: "•" !default;
$slick-dot-size: 12px;
// $slick-opacity-default: 0.75 !default;
// $slick-opacity-on-hover: 1 !default;
// $slick-opacity-not-active: 0.25 !default;

.slick-prev {
  left: 15px !important;
  z-index: 100;
}

.slick-next {
  right: 15px !important;
}

.slick-dots {
  position: relative !important;
  bottom: 0 !important;
}

.cerrar {
  margin-bottom: $line-height-base;
}

.cruz::after {
  color: $brand-claro;
  // font-family: 'Glyphicons Halflings';
  content: "\e078";
  position: absolute;
  right: -3px;
  top: 0;
  padding-top: $line-height-base/2;

  @include media-breakpoint-up(sm) {
    padding-top: $line-height-base*1.4;
  }
}

footer {
  padding-top: $line-height-base*3;
  padding-bottom: $line-height-base*3;
  text-align: center;
}
