@import url(http://fonts.googleapis.com/css?family=Fredoka+One|Montserrat:400,700,900);

.navbar-dark {
  background-color: $secondary !important;
}

.nav-link:hover {
  text-shadow: 0 0 4px $third;
}

#tv {
  background-image: url(../images/tv.png);
}

/* portfolio */
$margin: 2%;
$width: 50%;

.grid-sizer,
.item {
  width: $width;

  @include media-breakpoint-up(md) {
    width: 33.3%;
  }

  @include media-breakpoint-up(xl) {
    width: 25%;
  }
}

.item {
  float: left;

  .shadow {
    cursor: pointer;

    @include transition(box-shadow 0.2s ease-out);
  }
}

.item.active .collapsing {
  z-index: 1;
  position: relative;
}

.item.active .collapse {
  z-index: 1;
}

.trailer-loading {
  padding: 10rem;
  background-image: url(../images/iso.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30%;
}

.loading .shadow {
  background-image: url(../images/iso.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}

.item.active .shadow {
  border-radius: $border-radius;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 50px inset;

  img {
    max-width: 100%;
    position: relative;
    z-index: -1;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }
}

.gutter-sizer {
  width: $margin;
}

.tooltip {
  font-size: $font-size-base; //h5
}

// /////////
.wpcf7-form label {
  display: block;
}

/* filtros y menu */

.filters button.active {
  background-color: lighten($primary, 20%) !important;
  border-color: transparent !important;
  box-shadow: 0 0 7px 0 lighten($primary, 20%) !important;
}

/* portfolio */
$margin: 2%;
$width: 50%;

#ajax-modal {
  background-color: white;
}

.poster {
  display: block;
}

.entry-content-asset,
.lSSlideOuter {
  margin-bottom: 1em; //margen videos y slider
}

$slick-dot-size: 12px;

.slick-dotted.slick-slider {
  margin-bottom: 60px !important;
}

#barras {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .color {
    width: 16.66%;
    height: 100%;
    float: left;
  }

  #yel { background-color: $yellow; }

  #cya { background-color: $cyan; }

  #gre { background-color: $green; }

  #pin { background-color: $pink; }

  #red { background-color: $red; }

  #blu { background-color: $blue; }
}
