@import url(http://fonts.googleapis.com/css?family=Fredoka+One|Open+Sans:400italic,700italic,400,700|Montserrat:400,700,900);

.navbar-dark {
  // background-color: transparent !important;
  background-color: $secondary !important;
}

.nav-link:hover {
  text-shadow: 0 0 3px lighten($secondary, 60%);
}

/* portfolio */
$margin: 2%;
$width: 50%;

#pack {
  min-height: 70vh;
}

.grid-sizer,
.item {
  width: $width;

  @include media-breakpoint-up(md) {
    width: 33.3%;
  }

  @include media-breakpoint-up(xl) {
    width: 25%;
  }
}

.item {
  float: left;

  .shadow {
    cursor: pointer;

    @include transition(box-shadow 0.1s ease-in);
  }

  @include transition(border 0.2s ease-in-out);

  a:hover {
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2) inset;
  }
}

.item.active .collapsing {
  z-index: 1;
  position: relative;
}

.item.active .collapse {
  z-index: 1;
}

.trailer-loading {
  padding: 10rem;
  background-image: url(../images/iso.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30%;
}

.loading .shadow {
  background-image: url(../images/iso.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
}

.item.active .shadow {
  border-radius: $border-radius;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 50px inset;

  img {
    max-width: 100%;
    position: relative;
    z-index: -1;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }
}

.gutter-sizer {
  width: $margin;
}

.tooltip {
  font-size: $font-size-base; //h5
}

// /////////

#contacto {
  position: relative;

  #barras {
    background-color: blue;
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .color {
    width: 16.66%;
    height: 100%;
    float: left;
  }

  #yel { background-color: $yellow; }

  #cya { background-color: $cyan; }

  #gre { background-color: $green; }

  #pin { background-color: $pink; }

  #red { background-color: $red; }

  #blu { background-color: $blue; }
}

/* filtros y menu */

.filters button.active {
  background-color: lighten($primary, 20%) !important;
  border-color: transparent !important;
  box-shadow: 0 0 7px 0 lighten($primary, 20%) !important;
}

/* portfolio */
$margin: 2%;
$width: 50%;

#ajax-modal {
  background-color: white;
}

.poster {
  display: block;
}

.blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.entry-content-asset,
.lSSlideOuter {
  margin-bottom: 1em; //margen videos y slider
}

$slick-dot-size: 12px;

.slick-dotted.slick-slider {
  margin-bottom: 60px !important;
}
