/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

// fix para build:production
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

$primary: #311b92;
$secondary: #0d006f;
// $primary: #0d006f;
// primary: #311b92
// primary: #5020a7

$navbar-dark-toggler-icon-bg: none;
$navbar-dark-toggler-border-color: rgba(white, 0.5);
$navbar-dark-active-color: $primary;
$navbar-dark-color:                rgba(white, 0.7);
$navbar-dark-hover-color:          rgba(white, 0.9);
$navbar-dark-active-color:         rgba(white, 1);
$navbar-dark-disabled-color:       rgba(white, 0.5);
//

$enable-shadows: true;
