/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

// fix para build:production
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;
//

$theme-colors: (
  // primary: #311b92
  primary: #5020a7
);

$primary:   #311b92;

$navbar-dark-color:                lighten($primary, 30%);
$navbar-dark-hover-color:          lighten($primary, 50%);
$navbar-dark-active-color:         rgba(white, 1);
$navbar-dark-disabled-color:       rgba(white, 0.5);
